extends layout 
 
block content 
  h1= title 
 
  - let curriculumid = toShow._id
  - let courseName = toShow.courseName 
  - let department = toShow.department 
  - let credits = toShow.credits 
  div 
    div.row 
      div(class='curriculumAttr mr-3') curriculum ID is: 
      div #{curriculumid}
    div.row
      div(class='curriculumAttr mr-3') curriculum Type is: 
      div #{courseName} 
    div.row 
      div(class='curriculumAttr mr-3') curriculum Size is: 
      div #{department} 
    div.row 
      div(class='curriculumAttr mr-3') curriculum Cost is: 
      div #{credits}  